SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/reservas_db
SPRING_DATASOURCE_USERNAME=reservas_user
SPRING_DATASOURCE_PASSWORD=cambiar_esta_password
MARIADB_DATABASE=reservas_db
MARIADB_USER=reservas_user
MARIADB_PASSWORD=cambiar_esta_password
MARIADB_ROOT_PASSWORD=cambiar_root_password
APP_LOG_LEVEL=INFO
APIMAN_GATEWAY_PUBLIC_ENDPOINT=http://IP_PUBLICA_EC2:8090/apiman-gateway
APP_SECURITY_USERNAME=admin
APP_SECURITY_PASSWORD=cambiar_password_jwt
APP_SECURITY_JWT_SECRET=cambiar_esta_clave_jwt_por_una_de_al_menos_32_caracteres
APP_SECURITY_JWT_EXPIRATION_MINUTES=120
