SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/reservas_db
SPRING_DATASOURCE_USERNAME=reservas_user
SPRING_DATASOURCE_PASSWORD=cambiar_esta_password
MARIADB_DATABASE=reservas_db
MARIADB_USER=reservas_user
MARIADB_PASSWORD=cambiar_esta_password
MARIADB_ROOT_PASSWORD=cambiar_root_password
APP_LOG_LEVEL=INFO
APIMAN_GATEWAY_PUBLIC_ENDPOINT=http://IP_PUBLICA_EC2:8090/apiman-gateway
